{% extends "header.html" %}
{% block body %}

<div role="tabpanel">
  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#webdev" aria-controls="webdev" role="tab" data-toggle="tab">Web Dev</a></li>
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Analysis</a></li>
  </ul>

  <!-- Tab pages -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="basics">
      {% for t in TOPIC_DICT["Basics"] %}
        <li><a href="{{t[1]}}">{{t[0]}}</a></li>
      {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="webdev">Web Dev</div>
    <div role="tabpanel" class="tab-pane fade" id="dan">Data Analysis</div>
  </div>
</div>

{% endblock %}
