{% extends "header.html" %}
{% block body %}

<body class="body">
	<div class="container" align="left">
		<video autoplay="autoplay" poster="/static/videos/paypal.mp4" muted="muted" style="width:80%; max-height=80%;">
			<source src="/static/videos/paypal.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container" align="left">
		<p><a href="/paypaldownload/">Download</a></p>
	</div>
	<div class="container" align="left">
		<video autoplay="autoplay" poster="/static/videos/paypal.mp4" muted="muted" style="width:80%; max-height=80%;">
			<source src="/static/videos/SSL_for_HTTPS.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container" align="left">
		<p><a href="/ssldownload/">Download</a></p>
	</div>
</body>

{% endblock %}